
<div class="form-group">
    <label for=""></label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted"></small>
  </div>
<div class="ng-autocomplete">
    <ng-autocomplete 
      [data]="data"
      [searchKeyword]="keyword"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">                                 
    </ng-autocomplete>
     
    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
    </ng-template>
     
    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>
    </div>



    <!-- <div class="form-group">
      <label for=""></label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="states"
          [searchKeyword]="keyword"
          placeHolder="Enter the State Name"
          historyIdentifier="states"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      
        <ng-template #itemTemplate let-item>
          <div class="item">
            <img src="{{item.flag}}" height="25">
            <span [innerHTML]="item.name"></span> &nbsp; | &nbsp;
            <small>Population: {{item.population}}</small>
          </div>
        </ng-template>
      
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div> -->